@media only screen and  (max-width:1800px){
    .main{padding: 0;margin: 0 auto}
    .top,.rectangle,.box3,.youtube,{width: 98%;}
    .logo img {padding-left: 60px;}
    .nav{padding:20px 0 20px 0;margin: 0 30px}
    .nav a{padding-left: 20px;} 
    .shopping-cart{padding-right: 18px;}
    .search-box{ margin-left: 15px;}
    .search-txt{width: 15em;}
    .heart a,.avatar a,.shopping-cart a{padding: 0;}
    .heart,.avatar,.shopping-cart{padding: 0 12px}
    .box2{width: 98%;}
    .Categories{width:94%;padding: 0 0 0 74px;margin: 0 auto;}
    .cat{width: 30.9%;padding-right: 20px;}
    .shopping{margin-left:83px;padding: 0}
    .shop{width: 45.2%;}
    .shop2{margin-left:30px;}
    .dry{width:93.5%}
    .box3{height: 29em}
    .seller{margin: 0 0 0 80px;}
    
    .product{width:22%;margin-right: 25px;}
    .product .content ul li{padding-right: 4px;}
   
    .youtube{width:96%;padding: 80px 20px 0 20px; }
    .Testimonials{padding-bottom: 35em;} 
    .customer{ padding-bottom: 2em;width: 30%;}
    .cu{margin-right:50px; margin-left: 50px;}
    .cust2{margin: 0 45px ;}
    .icon{  font-size:75px;}
    .footer a{padding:0 }
    .links{margin-left:5em}
    .link_row1{width:95%;margin-left:0}
    .link_row2{width:93%;clear: both;margin-left:2em}
    .copy{padding-top: 10px}
    .fl:after{margin: 0 20px}
    .map h4{margin-bottom:0; }
    .map p{margin-top:0; }
    .fill{width: 45%;padding-left: 55px;}
    .map{ padding-right: 55px;}  
    .m1>div{ padding-right: 7.5em;}
    }

     @media only screen and (max-width:1000px){
      .top,.box2,.box3,.youtube{width: 96%;}
    .logo{width: 12.66%;height: 70px}
    
    .top{height: auto;}   
      .nav1{float: right;padding-right: 20px;display: block;}
      /* Show Hamburger Icon */
      #hamnav label { 
        display:inline-block; 
        color:white;
        background:black;
        font-style: normal;
        font-size: 1.5em;

      }
      #line,#search,#SignIn{
          display: none;
      }
   
      /* Break down menu items into vertical */
      #hamitems a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.88; 
        padding-left: 71px; 
        font-style: normal;
        line-height: 1.88;
        letter-spacing: normal;
        text-align: center;
        color: #2c2727; 
        display: block;
        border-top: 1px solid #333;
      }
   
      /* Toggle Show/Hide Menu */
      #hamitems { display: none; }
      #hamnav input:checked ~ #hamitems { display: block; }
      .nav {display: none;} 
      .search-box{margin-left: 20px;}
      .heart,.avatar,.shopping-cart,li.search-box,.search-txt ,.btn,li.line1 {display: none; }
      .Categories{padding-left: 2em;margin:0 auto;}
      .cat{width: 46.9%;padding-right: 20px;}
      .shopping{padding-left:0;margin-left:2em;}
      .shop{width:89%;float: none;padding-left:35px;margin:0 auto;}
      .shop2{margin: 0;}
      .dry{width:89%;padding:0 0 0 35px ;margin: 0 auto}
      .seller{margin: 0 0 0 8.5%;}
      .product{width: 45.5%; padding-bottom: 20px;margin-right:10px}
      .youtube{width: 93%;}
      .Testimonials{padding-bottom: 75em;} 
      .customer{ padding-bottom: 5em;width: 48%;}
      .cu{margin-right: 40px; margin-left: 40px;}
      .cust2{margin: 0 0 0 15px ;}
      .cust3{margin-top: 30px;}

      .links{margin-left:3em}
      .link_row1{margin-left:0em}
      .link_row2{margin-left:2em}
      .fl:after{margin: 0;}
      .footer li{padding: 10px 0}
      .footer a{padding: 8px;font-size: 12px}
      /*About*/
      .aboutus p{padding-left: 30px;padding-right: 30px;}
        /*contact*/
      .fill{width: 85%;}
      .sub{ margin-left: 42.5%;}
      .map{ width: 85%; padding:0 0 50px 55px;} 
      .map img{padding-top: 50px} 
      .m1>div{ padding-right: 7.5em;}
      .map h4{margin-bottom:0; }
      .map p{margin-top:0; }
    }

     @media only screen and (max-width:720px){

      .top,.box2,.box3,.youtube,{width: 94%;}

    .logo img{
        padding-left: 10px;width: 100%;padding-top: 0;}

    
    .top{height: auto;}   
      .nav1{float: right;padding-right: 20px;display: block;}
      /* Show Hamburger Icon */
      #hamnav label { 
        display:inline-block; 
        color:white;
        background:black;
        font-style: normal;
        font-size: 1.5em;

      }
      #line,#search,#SignIn{
          display: none;
      }
   
      /* Break down menu items into vertical */
      #hamitems a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.88; 
        padding-left: 71px; 
        font-style: normal;
        line-height: 1.88;
        letter-spacing: normal;
        text-align: center;
        color: #2c2727; 
        display: block;
        border-top: 1px solid #333;
      }
   
      /* Toggle Show/Hide Menu */
      #hamitems { display: none; }
      #hamnav input:checked ~ #hamitems { display: block; }
    .nav {display: none;} 
    .search-box{margin-left: 18px;}

    .heart,.avatar,.shopping-cart,li.search-box,.search-txt ,.btn,li.line1 {
        display: none;    
    }
      .title {font-size: 20px;}
      .Categories{padding-left: 11px;}
      .cat{width: 97%; float: none;padding-right:0;}
      .cat h5{margin: 5px 0;font-size: 12px;}
      .shopping{width:93%;padding-left:0;margin-left: 30px;}
      .shop{width:89%;float: none;padding-left:0px;}
      .shop2{margin: 0;}
      .dry{width:90%;padding:10px 0 0 0px ;}
      .dry{margin: 0}
      .seller{margin: 0 0 0 7%; }
      .product{width: 98%; padding-bottom: 20px;margin-right:0}
      .product .content ul{ width: 94%;}
      /*.red-cart img{ padding: 10px 0px 10.3px 4px;}*/
      .product .content ul li{padding-right: 10px;}
      .pic{width: 97%;}
      .youtube{width: 90%;height:auto;padding: 10px;}
      
      .Testimonials{padding-bottom: 113em;} 
      .customer{ padding-bottom: 5em;width: 97%;margin-bottom: 20px;}
      .thought {padding: 0 0 0 15px;}
      .cust2{margin: 0;}
      .cu{width:95%;margin-right:0;float: none;margin-left:10px;}
      .icon{  font-size:75px;}
      /*footer*/
      .fl:after{content: none}
      .footer{padding-bottom: 5em;padding-top:25px;clear: none;margin-top: 20px}
      .footer a{padding:0;}
      .footer li{list-style: none;}
      .footer ul{padding-left: 0;}
     .links{padding-left:0;margin-left:0;width: 96%;}
      .link_row1{width:100%;padding-left:0; }
      .link_row2{width:100%;padding-left: 0;margin-left:0}  
      .footer li{padding:0;float:none;list-style: none;width:100%;} 
      /*About*/
      .aboutus p{padding-left: 10px;padding-right: 10px;
      /*contact*/
      .fill{padding: 0 0 0 28px}
      .sub{ margin-left: 25.5%;}
      .map{ width: 85%; padding:0 0 50px 28px;} 
      .map img{padding-top: 50px} 
      .m1>div{ padding-right: 1em;}
      .map h4{margin-bottom:0; }
      .map p{margin-top:0; } 
    }
    
   
    
