@media only screen and (min-width:1000px)and (max-width:1850px){
    body{}
    .main{border: 1px solid black;max-width: 1131px}
    .top,.rectangle,.box3,.youtube,{width: 98%;}
    .logo img{
        padding-left: 20px;
       
      } 
    .nav a{padding-left: 20px;} 
    .search-box{ margin-left: 25px;}
    .search-txt{width: 17em;}
    .heart {
        padding: 0 15px;     
      }
      .heart a{padding: 0;}
      .avatar{
        padding: 0 15px;      
      }
      .shopping-cart {
        padding: 0 15px;
      }
    .box2{width: 98%;}
    .Categories{width:95%;padding: 0 0 0 85px;}
    .cat{width: 24.9%;padding-right: 65px;}
    .shopping{margin-left:96px;}
    .shop{width: 42.2%;}
    .shop2{margin-left:25px;}
    .dry{width:88%}
    .prod{width:98%;margin: 0 0 0 45px;}
    .product{ width: 22.5%;;margin-right: 20px;}
    .product .content ul li{padding-right: 8px;}
    .red-cart img{ padding: 10px 0 10.3px 0; float: right;}
    .youtube{width: 80%;padding: 10px 80px 0 80px; }
    .Testimonials{padding-bottom: 35em;width: 99%} 
    .customer{ padding-bottom: 2em;width: 30%;}
    .cu{margin-right: 65px; margin-left: 65px;}
    .cust2{margin: 0 45px ;}
    
    .icon{  font-size:75px;}
    .footer a{padding:0 25px;}
     .link_row1{padding-left:8em;}
    .link_row2{padding-left: 10em;} 
        
    }

     @media only screen and (max-width:800px){
      .top,.box2,.box3,.youtube,.footer,.Testimonials{width: 98%;}
    .logo{
        width: 12.66%;}
    .logo img{
        padding-left: 10px;}
    .top{height: auto;}   
      .nav1{float: right;padding-right: 20px;display: block;}
      /* Show Hamburger Icon */
      #hamnav label { 
        display:inline-block; 
        color:white;
        background:black;
        font-style: normal;
        font-size: 1.5em;

      }
      #line,#search,#SignIn{
          display: none;
      }
   
      /* Break down menu items into vertical */
      #hamitems a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.88; 
        padding-left: 71px; 
        font-style: normal;
        line-height: 1.88;
        letter-spacing: normal;
        text-align: center;
        color: #2c2727; 
        display: block;
        border-top: 1px solid #333;
      }
   
      /* Toggle Show/Hide Menu */
      #hamitems { display: none; }
      #hamnav input:checked ~ #hamitems { display: block; }
    .nav {display: none;} 
    .search-box{margin-left: 20px;}
    .heart,.avatar,.shopping-cart,li.search-box,.search-txt ,.btn,li.line1 {
        display: none;    
    }
    .Categories{padding-left: 7em;}
      
      .shopping{padding-left:0;margin-left: 85px;}
      .shop{width:80%;float: none;padding-left:0px;}
      .shop2{margin: 0;}
      .dry{width:80%;padding:15px 0 0 0px ;}

      .prod{margin: 0 0 0 8%;}
   
      .product{width: 40.5%; padding-bottom: 20px;margin-right:10px}
      
      .youtube{width: 75%;}
      .Testimonials{padding-bottom: 75em;} 
      .customer{ padding-bottom: 5em;width: 48%;}
       .cu{margin-right: 40px; margin-left: 40px;}
      .cust2{margin: 0 0 0 15px ;}
      .cust3{margin-top: 30px;}

        .footer{padding-bottom: 5em;padding-top:25px;clear: none;}
        .footer a{padding:0 10px;}
        .footer li{list-style: none;}
        .footer ul{padding-left: 0;}
        .link_row1{padding-left:0; }
        .link_row2{padding-left: 0;}  
        .footer li{padding:0;float:none;list-style: none;}   
    }

     @media only screen and (max-width:500px){

      .top,.box2,.box3,.youtube,.footer,.Testimonials{width: 98%;}
    .logo{
        width: 12.66%;}
    .logo img{
        padding-left: 10px;}
    .top{height: auto;}   
      .nav1{float: right;padding-right: 20px;display: block;}
      /* Show Hamburger Icon */
      #hamnav label { 
        display:inline-block; 
        color:white;
        background:black;
        font-style: normal;
        font-size: 1.5em;

      }
      #line,#search,#SignIn{
          display: none;
      }
   
      /* Break down menu items into vertical */
      #hamitems a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.88; 
        padding-left: 71px; 
        font-style: normal;
        line-height: 1.88;
        letter-spacing: normal;
        text-align: center;
        color: #2c2727; 
        display: block;
        border-top: 1px solid #333;
      }
   
      /* Toggle Show/Hide Menu */
      #hamitems { display: none; }
      #hamnav input:checked ~ #hamitems { display: block; }
    .nav {display: none;} 
    .search-box{margin-left: 18px;}

    .heart,.avatar,.shopping-cart,li.search-box,.search-txt ,.btn,li.line1 {
        display: none;    
    }
    .title {font-size: 20px;}
    .Categories{padding-left: 16px;}
      .cat{width: 85%; float: none;padding-right:0;}
      .cat h4{margin: 5px 0;font-size: 12px;}
      .shopping{padding-left:0;margin-left: 30px;}
      .shop{width:80%;float: none;padding-left:0px;}
      .shop2{margin: 0;}
      .dry{width:80%;padding:15px 0 0 0px ;}

      .prod{margin: 0 0 0 2%; }
      .product{width: 95%; padding-bottom: 20px;margin-right:10px}
      .product .content ul{ width: 98%;}
      .red-cart img{ padding: 10px 0px 10.3px 4px;}
      .product .content ul li{padding-right: 10px;}
      .pic{width: 95%;}
      .youtube{width: 95%;padding: 10px;}
      .img-dark img{width: 100%;height: 225px;}
      .youtube_icon img{width:35px; height:35px;}
      .Testimonials{padding-bottom: 105em;} 
      .customer{ padding-bottom: 3em;width: 90%;margin-bottom: 20px;}
      .thought {padding: 0 0 0 15px;}
      .cust2{margin: 0 0 20px 0;}
      .cu{margin-right:0;float: none;
          margin-left:10px;}
      .icon{  font-size:75px;}

        .footer{padding-bottom: 5em;padding-top:25px;clear: none;}
        .footer a{padding:0 10px;}
        .footer li{list-style: none;}
        .footer ul{padding-left: 0;}
        .link_row1{padding-left:1em; }
        .link_row2{padding-left: 0;}  
        .footer li{padding:0;float:none;list-style: none;}   

    }
    
   
    